USE [QuanLy]
GO
/****** Object:  UserDefinedFunction [dbo].[fun_tinhtongdoanhthu]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fun_tinhtongdoanhthu]()
returns int
as
begin
declare @tongdoanhthu int
select @tongdoanhthu  = sum(TongTien)
from HoaDon
return @tongdoanhthu
end
GO
/****** Object:  UserDefinedFunction [dbo].[fun_tinhtongsachbanduoc]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fun_tinhtongsachbanduoc]()
returns int
as
begin
declare @tongsachbanduoc int
select @tongsachbanduoc  = sum(ChitietHD.SoLuong)
from ChitietHD
return @tongsachbanduoc
end
GO
/****** Object:  UserDefinedFunction [dbo].[fun_tinhtongsokhachhang]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--tinhs tong khach hang
CREATE function [dbo].[fun_tinhtongsokhachhang]()
returns int
as
begin
declare @tongsokhachhang int
select @tongsokhachhang  = count(*)
from KhachHang
return @tongsokhachhang
END
GO
/****** Object:  UserDefinedFunction [dbo].[fun_tinhtuoikhachhang]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fun_tinhtuoikhachhang](@CMND nvarchar)
returns int
as
begin
declare @tuoi int;
select @tuoi = DATEDIFF(year, NgaySinh, GETDATE())
from KhachHang
where CMND = @CMND;
return @tuoi;
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetAmout]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetAmout](@masach NVARCHAR(50))
RETURNS INT
AS
BEGIN
	DECLARE @masachTemp NVARCHAR(50), @soluong INT, @status BIT;
	SELECT @masachTemp = MaSach, @soluong = SoLuongTon
	FROM dbo.SanPham
	WHERE MaSach = @masach AND TrangThai = 'True';
	IF(@soluong > 0 )
	BEGIN
	    RETURN @soluong;
	END
		RETURN 0;
END
GO
/****** Object:  UserDefinedFunction [dbo].[Login_Check]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Dang nhap
CREATE function [dbo].[Login_Check](@usr nvarchar(50), @pass nvarchar(50))
returns int
as
begin
	declare @chucvu nvarchar(50), @usrTemp nvarchar(50),@passTemp nvarchar(50);
	set @chucvu = -1
	select @usrTemp =DangNhap.TenDangNhap, @passTemp = DangNhap.MatKhau, @chucvu =DangNhap.ChucVu
	from DangNhap 
	where DangNhap.TenDangNhap = @usr AND DangNhap.MatKhau = @pass;
	if(@usrTemp !='' And @passTemp !='')
		begin 
			return @chucvu;
		end
		return @chucvu;
END
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSach] [nvarchar](50) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TacGia] [nvarchar](50) NULL,
	[NXB] [nvarchar](100) NULL,
	[Mota] [nvarchar](1000) NULL,
	[Danhmuc] [nvarchar](50) NULL,
	[SoLuongTon] [int] NULL,
	[TrangThai] [bit] NULL,
	[Gia] [int] NULL,
 CONSTRAINT [PK_SanPham_1] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Tat_ca_sach_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Tat_ca_sach_view] AS
SELECT * 
FROM dbo.SanPham
WHERE TrangThai = 'True'
GO
/****** Object:  View [dbo].[Phan_loai_theo_SachThieuNhi_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View Phan loai theo the loai -- 
CREATE VIEW [dbo].[Phan_loai_theo_SachThieuNhi_view] AS 
SELECT *
FROM dbo.SanPham
WHERE Danhmuc = 'SachThieuNhi' AND TrangThai = 'true'
GO
/****** Object:  View [dbo].[Phan_loai_theo_SachKinhTe_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Phan_loai_theo_SachKinhTe_view] AS 
SELECT *
FROM dbo.SanPham
WHERE Danhmuc = 'SachKinhTe' AND TrangThai = 'true'
GO
/****** Object:  View [dbo].[Phan_loai_theo_SachVanHoc_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Phan_loai_theo_SachVanHoc_view] AS 
SELECT *
FROM dbo.SanPham
WHERE Danhmuc = 'SachVanHoc' AND TrangThai = 'true'
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nvarchar](15) NOT NULL,
	[HovaTen] [nvarchar](250) NULL,
	[SDT] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Tat_ca_khach_hang_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tat ca khach hang -- 
CREATE VIEW [dbo].[Tat_ca_khach_hang_view] AS 
SELECT *
FROM dbo.KhachHang
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[CMND] [nvarchar](50) NULL,
	[TongTien] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Don_hang_chua_hoan_thanh_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Don hang chua hoan thanh --
CREATE VIEW [dbo].[Don_hang_chua_hoan_thanh_view] AS
SELECT *
FROM dbo.HoaDon
WHERE TrangThai = 'true'
GO
/****** Object:  Table [dbo].[ChitietHD]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietHD](
	[MaHD] [nvarchar](50) NULL,
	[MaSach] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[Gia] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Top_5_sach_duoc_mua_nhieu_nhat_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Top 5 sach duoc mua nhieu nhat --
CREATE VIEW [dbo].[Top_5_sach_duoc_mua_nhieu_nhat_view] AS 
SELECT SanPham.MaSach, TenSach
FROM dbo.SanPham, (SELECT TOP(5) MaSach, COUNT(MaSach) AS Soluong FROM dbo.ChitietHD GROUP BY MaSach ORDER BY Soluong DESC) k
WHERE k.MaSach = SanPham.MaSach
GO
/****** Object:  View [dbo].[All_User_View]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[All_User_View]
AS
SELECT * FROM dbo.KhachHang
GO
/****** Object:  View [dbo].[Tat_ca_sach_rutgon_view]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Tat_ca_sach_rutgon_view]
AS
SELECT MaSach,TenSach,SoLuongTon,Gia
FROM dbo.SanPham
WHERE TrangThai='True'
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[ID] [int] NULL,
	[MaSach] [nvarchar](50) NULL,
	[SoLuong] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[ChucVu] [int] NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[NhaCungCap] [nvarchar](50) NULL,
	[TongSoLuong] [int] NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChitietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChitietHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChitietHD] CHECK CONSTRAINT [FK_ChitietHD_HoaDon]
GO
ALTER TABLE [dbo].[ChitietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChitietHD_SanPham] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SanPham] ([MaSach])
GO
ALTER TABLE [dbo].[ChitietHD] CHECK CONSTRAINT [FK_ChitietHD_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([ID])
REFERENCES [dbo].[PhieuNhap] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_SanPham] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SanPham] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_SanPham]
GO
/****** Object:  StoredProcedure [dbo].[pro_AddOrder]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pro_AddOrder]
@mahoadon NVARCHAR(50),@tenkhachhang NVARCHAR(50),@tongtien INT, @trangthai BIT, @ngaytao DATETIME
AS
BEGIN
	INSERT INTO dbo.HoaDon
	(
	    MaHD,
	    TenKH,
	    TongTien,
	    TrangThai,
	    NgayTao
	)
	VALUES
	(   @mahoadon,      -- MaHD - nvarchar(50)
	    @tenkhachhang,      -- TenKH - nvarchar(50)
	    @tongtien,        -- TongTien - int
	    0,     -- TrangThai - bit
	    @ngaytao -- NgayTao - datetime
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[pro_AddUser]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pro_AddUser]
@cmnd NVARCHAR(15), @hovaten NVARCHAR(250), @ngaysinh DATE, @sdt nvarchar(10), @diachi nvarchar(250)
AS
BEGIN
	INSERT INTO dbo.KhachHang
	(
	    CMND,
	    HovaTen,
	    NgaySinh,
	    SDT,
	    DiaChi
	)
	VALUES
	(   @cmnd,       -- CMND - nvarchar(15)
	    @hovaten,       -- HovaTen - nvarchar(250)
	    @ngaysinh, -- NgaySinh - date
	    @sdt,       -- SDT - nvarchar(10)
	   @diachi        -- DiaChi - nvarchar(250)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[pro_DeleteUser]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pro_DeleteUser]
@cmnd NVARCHAR(15)
AS
BEGIN
       BEGIN TRANSACTION XoaKH
	DELETE dbo.KhachHang
	WHERE @cmnd =CMND
       If(@@ERROR <> 0)
       begin
             Rollback transaction
             Return
       End
      Commit TRANSACTION XoaKH
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetAllInfoOfOrder]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm tất cả thông tin của Đơn hàng
CREATE PROCEDURE [dbo].[pro_GetAllInfoOfOrder]
AS
BEGIN
	SELECT * FROM dbo.HoaDon
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetAllInfoOfUser]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Tìm tất cả thông tin của khách hàng
CREATE PROCEDURE [dbo].[pro_GetAllInfoOfUser]
AS
BEGIN
	SELECT * FROM dbo.KhachHang
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetAllProducts]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Tìm tất cả các thuộc tính của Sách
CREATE PROCEDURE [dbo].[pro_GetAllProducts]
AS
BEGIN
	SELECT * FROM dbo.SanPham
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetOrderByID]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm hóa đơn theo mã hóa đơn
CREATE PROCEDURE [dbo].[pro_GetOrderByID]
@mahoadon NVARCHAR(50)
AS
BEGIN
	SELECT TenKH, NgayTao,TongTien
	FROM dbo.HoaDon
	WHERE MaHD =@mahoadon
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetOrderForPayment]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm Hóa đơn đã được thanh toán
CREATE PROCEDURE [dbo].[pro_GetOrderForPayment]
@mahoadon NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM dbo.HoaDon
	WHERE @mahoadon = MaHD AND TrangThai = 'false'
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetProductByCategory]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pro_GetProductByCategory]
@danhmuc NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM dbo.SanPham
	WHERE Danhmuc = @danhmuc AND TrangThai='True';	
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetProductByID]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pro_GetProductByID]
@masach NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM dbo.SanPham
	WHERE MaSach=@masach AND TrangThai='True'	
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetProductByName]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pro_GetProductByName]
@tensach NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM dbo.SanPham
	WHERE TenSach = @tensach AND TrangThai ='True'
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetUserByCMND]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pro_GetUserByCMND]
@cmnd NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM dbo.KhachHang
	WHERE CMND=@cmnd
END
GO
/****** Object:  StoredProcedure [dbo].[pro_GetUserByUsername]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm khách hàng theo cmnd
CREATE PROCEDURE [dbo].[pro_GetUserByUsername]
@cmnd NVARCHAR(50)
AS
BEGIN
	SELECT HovaTen,NgaySinh,SDT,DiaChi
	FROM dbo.KhachHang
	WHERE CMND=@cmnd
END
GO
/****** Object:  StoredProcedure [dbo].[pro_SuaSanPham]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pro_SuaSanPham] 
@MaSach nvarchar(50), @TenSach nvarchar(50), @TacGia nvarchar(50),
@NXB nvarchar(100), @MoTa nvarchar(1000), @Danhmuc nvarchar(50), @SoLuongTon int, @Gia int 
as
Begin
	Update SanPham set TenSach = @TenSach ,TacGia = @TacGia,
	NXB=@NXB , MoTa=@MoTa , Danhmuc=@Danhmuc,SoLuongTon= @SoLuongTon ,Gia= @Gia
	where @MaSach = MaSach
end
GO
/****** Object:  StoredProcedure [dbo].[pro_ThemSanPham]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pro_ThemSanPham] @MaSach nvarchar(50), @TenSach nvarchar(50), @TacGia nvarchar(50),
@NXB nvarchar(100), @MoTa nvarchar(1000), @Danhmuc nvarchar(50), @SoLuongTon int, @Gia int 
as
Begin
Insert Into SanPham(MaSach,TenSach,TacGia,NXB,MoTa,Danhmuc,SoLuongTon,Gia,TrangThai)
values (@MaSach , @TenSach , @TacGia,
@NXB , @MoTa , @Danhmuc, @SoLuongTon , @Gia  , 1)
end
GO
/****** Object:  StoredProcedure [dbo].[pro_UpdateUser]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pro_UpdateUser]
@cmnd NVARCHAR(15), @hovaten NVARCHAR(250), @ngaysinh DATE, @sdt nvarchar(10), @diachi nvarchar(250)
AS
BEGIN
	UPDATE dbo.KhachHang
	SET HovaTen = @hovaten, NgaySinh = @ngaysinh, SDT = @sdt, DiaChi = @diachi
	WHERE @cmnd = CMND
END
GO
/****** Object:  StoredProcedure [dbo].[pro_XoaSanPham]    Script Date: 06/01/2021 14:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pro_XoaSanPham] @MaSach nvarchar(50)
As Begin
	begin transaction Xoa
	Delete SanPham
	Where MaSach = @MaSach
	if(@@ERROR <> 0)
	begin
		rollback transaction
		return
	end
	commit transaction Xoa
end
GO
